<div class="modal-header">
    <h3 class="modal-title" id="modal-title">添加用户权限组</h3>
</div>
<div class="modal-body form-horizontal" id="modal-body">
    <div class="form-group">
        <label class="col-md-3 control-label">用户组名称</label>
        <div class="col-md-8">
            <input type="text" class="form-control" ng-model="$ctrl.selected._group.name" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">选择用户</label>
        <div class="col-md-8">
            <div class="col-md-2" ng-repeat="user in $ctrl.resolve.users">
                <label class="control-label">
                    <input type="checkbox" ng-checked="$ctrl.ids.indexOf(''+user.id)>-1" ng-model="$ctrl.selected._group.users[user.id]"> {{ user.name }}
                </label>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">确定</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">返回</button>
</div>